{% extends 'base.html' %}

{% block main %}
  <h1 class="text-center text-primary">Ingresar Nuevo Vehículo</h1>
  <div class="container">
    <div class="row">
      <form class="col-4 offset-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Patente</label>
          <input type="text" class="form-control" name="patente">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Modelo</label>
          <input type="text" class="form-control" name="modelo">
        </div>
        <div class="mb-3">
          <select class="form-select" name="tipo">
            <option selected>Seleccione un tipo</option>
            <option value="1">Autos</option>
            <option value="2">Motos</option>
            <option value="3">Scooters</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    console.log('Esto se agrega al bloque scripts del padre');
  </script>
{% endblock %}